 
     # Visual Studio 2017/2019/2022
     *.suo
     *.user
     *.sln.cache
     *.vsidx
     *.suo
     *.VC.db
     *.json
     obj/
     bin/
     .vs/
     *.aps
     *.ncb
     *.opensdf
     *.sdf
     *.cachefile
     *.VC.db
     .vscode/
     